@model EntityEditorViewModel

@{
    Layout = "_Layout";
}

@if (Model == null)
{
    return;
}

<h1><span class="text-muted small">Edit </span> @Model.DisplayName</h1>
<form class="default-focus" data-source="@Model.DataSourceUrl" data-type="edit">
    @foreach (var field in Model.Fields)
    {
        <div class='form-field @(field.Hidden ? "hidden" : "")'>
            @await Component.InvokeAsync(field.FieldEditorName, new { fieldDefinition = field.Definition, field.Value })
        </div>
    }
    <button type="submit" class="btn btn-primary">Save</button>
</form>
