@model ListViewModel

@{
    Layout = "_Layout";
}

@if (Model == null)
{
    return;
}

<h1><span class="text-muted small">View all </span>  @Model.DisplayName<span class="text-muted">(s)</span></h1>

<div class="mb-3 d-flex justify-content-end">
    <a href='@Url.ChildPath("create")' class="btn btn-primary">Add New</a>
</div>

<partial name="~/Views/Shared/Partials/_AdvancedTable.cshtml" />
