main > .container {
    padding-top: 60px;
}

@keyframes moving-gradient {
    0% { background-position: -250px 0; }
    100% { background-position: 250px 0; }
}

table.table-loading tr {
    position: relative;
}

table.table-loading thead tr::before {
    content: "\00a0";
}

table.table-loading tbody tr::before {
    content: "\00a0";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #666a 20%, #999a 50%, #666a 80%);
    background-size: 500px 100px;
    animation-name: moving-gradient;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

header nav.navbar form {
    flex-basis: 30%;
    max-width: 600px;
}

.hidden {
    display: none;
}
