@model ObjectFieldEditorViewModel;

@if (Model == null) return;

<div class="mb-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <div class="nav-link active">@Model.Label</div>
      </li>
    </ul>

    <div id="@Model.Id" class="card card-body">
        @foreach (var field in Model.Fields)
        {
            <div class='form-field @(field.Hidden ? "hidden" : "")'>
                @await Component.InvokeAsync(field.FieldEditorName, new { fieldDefinition = field.Definition, field.Value })
            </div>
        }
    </div>
</div>
