@model EntityEditorViewModel

@{
    Layout = "_Layout";
}

@if (Model == null)
{
    return;
}

<h1><span class="text-muted small">Create a new</span> @Model.DisplayName</h1>
<form class="default-focus" data-source="@Model.DataSourceUrl" data-type="create">
    @foreach (var field in Model.Fields)
    {
        <div class="form-field">
            @await Component.InvokeAsync(field.FieldEditorName, new { fieldDefinition = field.Definition, field.Value })
        </div>
    }
    <button class="btn btn-primary" type="sumbit">Create</button>
</form>
