@model TableDataViewModel

<section class="py-3">
    <partial name="~/Views/Shared/Partials/_LocalSearch.cshtml" />
    <partial name="~/Views/Shared/Partials/_Table.cshtml" />
    <partial name="~/Views/Shared/Partials/_Paginator.cshtml" />
</section>