@page "/entity"
@using Clearly.Crud.WebUi.Client.Models
@using Clearly.Crud.WebUi.Client.Models.Dto

@inject HttpClient http;

<PageTitle>CRUD Admin</PageTitle>

<h1>Site Entities</h1>

<nav>
    <ul>
        @foreach (var entity in Entites)
        {
            var link = $"entity/{entity.NameKey.ToLower()}";
            <li>
                <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
                    @entity.DisplayName
                </NavLink>
            </li>
        }
    </ul>
</nav>

@code {
    protected IEnumerable<EntityDefinitionDto> Entites { get; set; } = Array.Empty<EntityDefinitionDto>();

    protected override async Task OnInitializedAsync()
    {
        var response = await http.GetAsync($"/api/entity");

        if (response.IsSuccessStatusCode)
        {
            Entites = await response.Content.ReadFromJsonAsync<IEnumerable<EntityDefinitionDto>>()
                ?? throw new Exception(); // TODO: Better Exception Handling
        }
        else
        {
            // TODO: Handle error
        }
    }
}