@model DomainModeling.Crud.WebUi.Models.EntityFormDefinition

@{
    Layout = "_Layout";
}

@if (Model == null)
{
    return;
}

<h1><span class="text-muted small">Create a new</span> @Model.DisplayName</h1>
<form data-source="@Model.DataSourceUrl" data-type="edit">
    @foreach (var field in Model.Fields)
    {
        <div class="form-field">
            @await Component.InvokeAsync(field.FieldType.FieldEditorName, field)
        </div>
    }
    <button class="btn btn-primary" type="sumbit">Create</button>
</form>
