@model DomainModeling.Crud.WebUi.Models.EntityFormDefinition

@{
    Layout = "_Layout";
}

@if (Model == null)
{
    return;
}

<h1><span class="text-muted small">Edit </span> @Model.DisplayName</h1>
<form class="default-focus" data-source="@Model.DataSourceUrl" data-type="edit">
    @foreach (var field in Model.Fields)
    {
        <div>
            @await Component.InvokeAsync(field.FieldType.FieldEditorName, field)
        </div>
    }
    <button type="submit" class="btn btn-primary">Save</button>
</form>