<RuleSet Name="Rules Style Cop" Description="" ToolsVersion="10.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1026" Action="None" />
    <Rule Id="SA1633" Action="Error" />
  </Rules>
</RuleSet>
